In [ ]:
#assignment: Using the Titanic dataset and Bayes Theorem find out which of the following is more likely to survive:
# a boy in 2nd class
# a woman in 3rd class 
# a man in 1st class

In [4]:
import pandas as pd
location = 'titanic3.xls'
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
#preliminary calculations
total_passengers = len(df) #1309
total_female = len(df[df['sex'] == 'female']) #466
total_male = len(df[df['sex'] == 'male']) #843
total_adult = len(df[df['age'] >= 18]) #892 #does not include passengers with missing age data who may or may not be adults
total_child = len(df[df['age'] < 18]) #154 #does not include passengers with missing age data who may or may not be children
total_survived = len(df[df['survived'] == 1]) #500
total_1stclass = len(df[df['pclass'] == 1]) #323
total_2ndclass = len(df[df['pclass'] == 1]) #323
total_3rdclass = len(df[df['pclass'] == 3]) #709

adult_survived = len(df[(df['age'] >= 18) & (df['survived'] == 1)]) #346 #does not include passengers with missing age data
child_survived = len(df[(df['age'] < 18) & (df['survived'] == 1)]) #81 #does not include passengers with missing age data
female_survived = len(df[(df['sex'] == 'female') & (df['survived'] == 1)]) #339
male_survived = len(df[(df['sex'] == 'male') & (df['survived'] == 1)]) #161
firstclass_survived = len(df[(df['pclass'] == 1) & (df['survived'] == 1)]) #200
secondclass_survived = len(df[(df['pclass'] == 2) & (df['survived'] == 1)]) #119
thirdclass_survived = len(df[(df['pclass'] == 3) & (df['survived'] == 1)]) #181

#probability that a passenger survived
p_survived = total_survived / total_passengers # 500/1309 = 0.3819709702062643

In [6]:
#Bayes function
#probability that a passenger survived given their age, sex, and class
def findBayesSurvived(agesurvived,sexsurvived,classsurvived,survived):
    return agesurvived*sexsurvived*classsurvived*survived

In [7]:
# a boy in 2nd class
#probability that a passenger who survived is a child
p_survived_child = child_survived / total_survived # 81/500 = 0.162

#probability that a passenger who survived is male
p_survived_male = male_survived / total_survived # 161/500 = 0.322

#probability that a passenger who survived is in 2nd class
p_survived_2ndclass = secondclass_survived / total_survived # 119/500 = 0.238

#probability that a survivor is a boy in 2nd class
findBayesSurvived(p_survived_child,p_survived_male,p_survived_2ndclass,p_survived)

0.004742181818181818

In [8]:
#probability that a passenger who survived is an adult
p_survived_adult = adult_survived / total_survived # 346/500 = 0.692

#probability that a passenger who survived is female
p_survived_female = female_survived / total_survived # 339/500 = 0.678

#probability that a passenger who survived is in 3rd class
p_survived_3rdclass = thirdclass_survived / total_survived # 181/500 = 0.362

#probability that a survivor is a woman in 3rd class
findBayesSurvived(p_survived_adult,p_survived_female,p_survived_3rdclass,p_survived)

0.06487460351413292

In [9]:
#probability that a passenger who survived is an adult
p_survived_adult = adult_survived / total_survived # 346/500 = 0.692

#probability that a passenger who survived is male
p_survived_male = male_survived / total_survived # 161/500 = 0.322

#probability that a passenger who survived is in 1st class
p_survived_1stclass = firstclass_survived / total_survived # 200/500 = 0.4

#probability that a survivor is a man in 1st class
findBayesSurvived(p_survived_adult,p_survived_male,p_survived_1stclass,p_survived)

0.03404491978609626

In [ ]:
# 0.0649 > 0.0340 > 0.0047
# woman in 3rd class is most likely to survive

In [25]:
#Bonus: What is the actual probability that a woman in 3rd class survived?

#calculating the probability that a female adult in 3rd class survived, using the data
female = len(df[df['sex'] == 'female']) #466
female_adult = len(df[(df['age'] >= 18) & (df['sex'] == 'female')]) #316
female_adult_3rdclass = len(df[(df['age'] >= 18) & (df['sex'] == 'female') & (df['pclass'] == 3)]) #106
p_female_adult_3rdclass = female_adult_3rdclass / total_passengers #0.08097784568372804
female_adult_3rdclass_survived = len(df[(df['age'] >= 18) & (df['sex'] == 'female') & (df['pclass'] == 3) & (df['survived'] == 1)]) #47

p_female_adult_3rdclass_survived = female_adult_3rdclass_survived / female_adult_3rdclass
p_female_adult_3rdclass_survived #0.44339622641509435

#calculating the probability that a female adult in 3rd class survived, by putting the denominator back in Bayes equation
p_female = total_female / total_passengers #0.3559969442322384
p_adult = total_adult / total_passengers #0.6814362108479756
p_3rdclass = total_3rdclass / total_passengers #0.5416348357524828

pBayes_female_adult_3rdclass_survived = findBayesSurvived(p_survived_adult,p_survived_female,p_survived_3rdclass,p_survived)
pBayes_female_adult_3rdclass_survived = pBayes_female_adult_3rdclass_survived / (p_female * p_adult *p_3rdclass)
pBayes_female_adult_3rdclass_survived #0.49373810975858656

# 0.44 vs 0.49, close but not exact. Why?

0.49373810975858656